.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  font-size: calc(8px + 2vmin);
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #61dafb;
}

button:hover {
  background-color: #4fa8c5;
}

.status-message {
  margin-top: 30px;
  font-size: calc(10px + 1vmin);
  min-height: 30px; /* Gives it space so the button doesn't jump */
  color: #c7c7c7;
}

nav {
  padding: 20px;
  background-color: #20232a;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
}

.nav-link {
  color: #61dafb;
  margin: 0 15px;
  text-decoration: none;
  font-size: 20px;
}

.nav-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container{
    flex-direction: column;
  }

  .App-header {
    padding-left: 20%;
    padding-right: 20%;
  };
  
}

.font-nav{
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
};
